.App {
  text-align: center;
}

.logo {
  padding-top: 40px;
  padding-bottom: 70px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-image: url(./images/background.png); */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***************** BUTTON STYLING *****************/

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 8px;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #d2d835;
}

.button1:hover {
  background-color: #d2d835;
  color: white;
}

.button1:active {
  background-color: #d2d835;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button2:active {
  background-color: #008CBA;
}


.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #479555;;
}

.button3:hover {
  background-color: #479555;
  color: white;
}

.button3:active {
  background-color: #479555;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #fd4258;
}

.button4:hover {
  background-color: #fd4258;
}

.button4:active {
  background-color: #fd4258;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #6265db;
}

.button5:hover {
  background-color: #6265db;
  color: white;
}

.button5:active {
  background-color: #6265db;
}

/***************** CONTAINER STYLING *****************/

.row {
  width:100%;
  height:50%;
}

.photo {
  max-width:50%;
  max-height:50%;
  padding-top: 20px;
}

.dollar {
  max-width:20%;
  max-height:20%;
}

.halfDollar {
  max-width:10%;
  max-height:10%;
}

.infoBox {
  padding-top:30px;
  padding-left: 40px;
  padding-right: 40px;
}

.sideBySide {
  float: left;
  width: 50%;
}